<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
  <aside class="aside-left">
    <div class="card">
      <div class="nav-tabs-custom">
        <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
          {{ 'PLATAFORMA.MENU' | translate }}
        </button>
        <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
          {{ 'PLATAFORMA.FILTERS' | translate }}
        </button>
      </div>

      <ng-container *ngIf="activeTab === 'menu'">
        <app-nav-content [navigationItems]="menuItems$ | async"></app-nav-content>
      </ng-container>
      <ng-container *ngIf="activeTab === 'filters'">
        <div class="p-3 filtros-scroll-wrapper">
          <h6 class="filtros-title">{{ 'CONEXIONES.FILTROS.TITULO' | translate }}</h6>
          <div class="filtro">
            <small>{{ 'CONEXIONES.FILTROS.FILTRONOMBRE' | translate }}</small>
            <input
              type="text"
              (keyup)="onFiltroNombreApliChangeClick($event)"
              class="form-control form-input"
              placeholder="{{ 'CONEXIONES.FILTROS.NOMBREHOLDER' | translate }}"
            />
          </div>
          <div class="filtro">
            <small>{{ 'CONEXIONES.FILTROS.FILTRONOMBRESUSCRIP' | translate }}</small>
            <input
              type="text"
              (keyup)="onFiltroNombreSuscripChangeClick($event)"
              class="form-control form-input"
              placeholder="{{ 'CONEXIONES.FILTROS.NOMBRESUSCRIPHOLDER' | translate }}"
            />
          </div>
          <div class="filtro">
            <small>{{ 'CONEXIONES.FILTROS.FILTRONOMBRESERVE' | translate }}</small>
            <input
              type="text"
              (keyup)="onFiltroNombreServeChangeClick($event)"
              class="form-control form-input"
              placeholder="{{ 'CONEXIONES.FILTROS.NOMBRESERVEHOLDER' | translate }}"
            />
          </div>
          <div class="filtro">
            <small>{{ 'CONEXIONES.FILTROS.FILTRONOMBREBD' | translate }}</small>
            <input
              type="text"
              (keyup)="onFiltroNombreBDChangeClick($event)"
              class="form-control form-input"
              placeholder="{{ 'CONEXIONES.FILTROS.NOMBREBDHOLDER' | translate }}"
            />
          </div>
          <div class="filtro">
            <small>{{ 'CONEXIONES.FILTROS.FILTROESTADO' | translate }}</small>
            <select (change)="onFiltroEstadoChangeClick($event)" class="form-control form-select" style="cursor: pointer">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option value="true">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
              <option value="false">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>
  </aside>

  <div class="content-area">
    <div class="card card-table content-scroll-wrapper">
      <div class="card-body">
        <app-data-table
          [data]="registrosFiltrado"
          [idField]="'conexionId'"
          [tableTitle]="'CONEXIONES.TITLE' | translate"
          [metadataColumns]="columnasCnexiones"
          [metadataDetailColumns]="columnasDetailRegistros"
          [showDetail]="true"
          [showActions]="true"
          [showNewButton]="true"
          [showViewButton]="false"
          [showEditButton]="true"
          [showDeleteButton]="true"
          [newButtonLabel]="'CONEXIONES.NEW' | translate"
          [exportLabel]="'PLATAFORMA.EXCEL' | translate"
          (newRecord)="OnNuevoRegistroClick()"
          (editRecord)="OnEditarRegistroClick($event)"
          (deleteRecord)="OnEliminarRegistroClick($event)"
        >
        </app-data-table>
      </div>
    </div>
  </div>
</div>
