<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
  <aside class="aside-left">
    <div class="card">
      <div class="nav-tabs-custom">
        <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
          {{ 'PLATAFORMA.MENU' | translate }}
        </button>
        <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
          {{ 'PLATAFORMA.FILTERS' | translate }}
        </button>
      </div>

      <ng-container *ngIf="activeTab === 'menu'">
        <app-nav-content [navigationItems]="menuItems | async"></app-nav-content>
      </ng-container>
      <ng-container *ngIf="activeTab === 'filters'">
        <div class="p-3 filtros-scroll-wrapper">
          <DIV class="text-center">
            <h6 class="filtros-title">{{ 'TICKETS.TICKETS.FILTROS.TITULO' | translate }}</h6>
          </DIV>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTROAPLICACION' | translate }}</small>
            <select class="form-control form-select" style="cursor: pointer" (change)="onFiltroAplicacionChangeClick($event)">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="apli.codigoAplicacion" *ngFor="let apli of aplicaciones"> {{ apli.nombreAplicacion }}</option>
            </select>
          </div>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTROSUITE' | translate }}</small>
            <select class="form-control form-select" style="cursor: pointer" (change)="onFiltroSuiteChangeClick($event)">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="sui.codigoSuite" *ngFor="let sui of suites"> {{ sui.nombreSuite }}</option>
            </select>
          </div>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTROMODULO' | translate }}</small>
            <select class="form-control form-select" style="cursor: pointer" (change)="onFiltroModuloChangeClick($event)">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="mod.codigoModulo" *ngFor="let mod of modulos"> {{ mod.nombreModulo }}</option>
            </select>
          </div>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTROSENDER' | translate }}</small>
            <select class="form-control form-select" style="cursor: pointer" (change)="onFiltroSenderChangeClick($event)">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="usuS.codigoUsuario" *ngFor="let usuS of usuarios"> {{ usuS.nombreUsuario }}</option>
            </select>
          </div>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTROASIGNADO' | translate }}</small>
            <select class="form-control form-select" style="cursor: pointer" (change)="onFiltroAsignadoChangeClick($event)">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="usuS.codigoUsuario" *ngFor="let usuS of usuarios"> {{ usuS.nombreUsuario }}</option>
            </select>
          </div>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTRONOMBRE' | translate }}</small>
            <input
              type="text"
              (keyup)="onFiltroNombreChangeClick($event)"
              class="form-control form-input"
              placeholder="{{ 'TICKETS.TICKETS.FILTROS.NOMBRECHOLDER' | translate }}"
            />
          </div>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTRODECRIPCION' | translate }}</small>
            <input
              type="text"
              (keyup)="onFiltroDescripcionChangeClick($event)"
              class="form-control form-input"
              placeholder="{{ 'TICKETS.TICKETS.FILTROS.DESCRIPCIONCHOLDER' | translate }}"
            />
          </div>
          <div class="filtro">
            <small>{{ 'TICKETS.TICKETS.FILTROS.FILTROESTADO' | translate }}</small>
            <select class="form-control form-select" style="cursor: pointer" (change)="onFiltroEstadoChangeClick($event)">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="esta.siglaEstado" *ngFor="let esta of estadosTicket"> {{ esta.nombreEstado }}</option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>
  </aside>

  <div class="content-area">
    <div class="card card-table content-scroll-wrapper">
      <div class="card-body">
        <ng-container *ngIf="registrosFiltrado$ | async as dataFiltrada; else loading">
          <app-data-table
            [data]="dataFiltrada"
            [idField]="'codigoTicket'"
            [tableTitle]="'TICKETS.TICKETS.TITLE' | translate"
            [newButtonLabel]="'TICKETS.TICKETS.NEW' | translate"
            [exportLabel]="'PLATAFORMA.EXCEL' | translate"
            [metadataColumns]="columnasRegistros"
            [metadataDetailColumns]="columnasDetailRegistros"
            [showDetail]="true"
            [showActions]="true"
            [showNewButton]="true"
            [showViewButton]="false"
            [showEditButton]="true"
            [showDeleteButton]="true"
            [showOption1Button]="true"
            [colorOpcion1]="colorOpcion1"
            [tooltipOption1]="'TICKETS.TICKETS.REQUERIMIENTOS' | translate"
            [letraOpcion1]="letraOpcion1"
            (viewRecord)="OnViewRegistroClick($event)"
            (newRecord)="OnNuevoRegistroClick()"
            (editRecord)="OnEditarRegistroClick($event)"
            (deleteRecord)="OnEliminarRegistroClick($event)"
            (option1Record)="OnOption1Click($event)"
          >
          </app-data-table>
        </ng-container>
        <ng-template #loading>
          <app-data-loader [isLoading]="true" message="Cargando Usuarios ..."> </app-data-loader>
        </ng-template>
      </div>
    </div>
  </div>
</div>
