
<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems$ | async"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <div class="p-3 filtros-scroll-wrapper">
                    <DIV class="text-center">
                        <h6 class="filtros-title">{{ 'TICKETS.REQUERIMIENTOS.FILTROS.TITULO' | translate }}</h6>
                    </DIV>
                    <div class="filtro">
                        <small>{{ 'TICKETS.REQUERIMIENTOS.FILTROS.FILTRONOMBRE' | translate }}</small>
                        <input type="text" (keyup)="onFiltroNombreChangeClick($event)" class="form-control form-input"
                            placeholder="{{ 'TICKETS.REQUERIMIENTOS.FILTROS.NOMBRECHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'TICKETS.REQUERIMIENTOS.FILTROS.FILTRODECRIPCION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroDescripcionChangeClick($event)"
                            class="form-control form-input"
                            placeholder="{{ 'TICKETS.REQUERIMIENTOS.FILTROS.DESCRIPCIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'TICKETS.REQUERIMIENTOS.FILTROS.FILTROESTADO' | translate }}</small>
                        <select class="form-control form-select" style="cursor: pointer;"
                            (change)="onFiltroEstadoChangeClick($event)">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option value="1">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
                            <option value="0">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
                        </select>
                    </div>
                </div>
            </ng-container>
        </div>
    </aside>

    <div class="content-area">
        <div class="card card-table content-scroll-wrapper">
            <div class="card-body">
                <ng-container *ngIf="registrosFiltrado$ | async as dataFiltrada">
                    <app-data-table
                    [data]="dataFiltrada"
                    [idField]="'codigoRequerimiento'"
                    [tableTitle]="'TICKETS.REQUERIMIENTOS.TITLE' | translate"
                    [newButtonLabel]="'TICKETS.REQUERIMIENTOS.NEW' | translate"
                    [exportLabel]="'PLATAFORMA.EXCEL' | translate"
                    [metadataColumns]="columnasRegistros"
                    [metadataDetailColumns]="columnasDetailRegistros"
                    [showDetail]="true"
                    [showActions]="true"
                    [showNewButton]="true"
                    [showViewButton]="false"
                    [showEditButton]="true"
                    [showDeleteButton]="true"
                    [showOption1Button]="true"
                    [showBackButton]="true"
                    [colorOpcion1]="colorOpcion1"
                    [tooltipOption1]="'TICKETS.REQUES' | translate"
                    [letraOpcion1]="letraOpcion1"
                    (viewRecord)="OnViewRegistroClick($event)"
                    (newRecord)="OnNuevoRegistroClick()"
                    (editRecord)="OnEditarRegistroClick($event)"
                    (deleteRecord)="OnEliminarRegistroClick($event)"
                    (option1Record)="OnOption1Click($event)"
                    (backRecord)="OnRegresarClick($event)">
                </app-data-table>
                </ng-container>
            </div>
        </div>
    </div>
</div>


