<div class="main-wrapper">
        <div class="header-container">
            <header>
                <div class="logo-container">
                    <img src="{{ LogoQplus }}" alt="Logo de QPLUS" class="logo">
                </div>
                <nav>
                    <a href="javascript();" onclick="showSection('inicio')">Inicio</a>
                    <a href="javascript();" onclick="showSection('modulos')">Suites</a>
                    <a href="javascript();" onclick="showSection('caracteristicas')">Características</a>
                    <a href="javascript();" onclick="showSection('instalacion')">Instalación</a>
                    <a href="javascript();" onclick="showSection('nosotros')">Nosotros</a>
                    <a href="javascript();" onclick="showSection('clientes')">Clientes</a>
                    <a href="javascript();" onclick="showSection('contacto')">Contáctenos</a>
                </nav>
            </header>
            <div class="color-bar">
            </div>
        </div>

        <div id="carousel-main" class="w-full h-full relative">
            <app-slider [slides]="carouselImages" [tipoSlider]="3"></app-slider>
        </div>

        <div class="wrapper-principal">
            <div class="container-inicio" id="inicio">
                <div style="flex: 1; max-width: 50%; padding: 10px;">
                    <video width="100%" controls>
                        <source src="{{ videoInicio }}" type="video/mp4">
                        Tu navegador no soporta el formato de video.
                    </video>
                </div>
                <div class="text-container">
                    <h2>¡Sistema de Gestión basado en mejora continua y eficiencia!</h2>
                    <p>QPLUS, sistema orientado a dar apoyo informático a la gestión por procesos, integrando módulos
                        para:
                    </p>
                    <li>Administración, gestión y mantenimiento de los Sistemas de Gestión.</li>
                    <li>Valoración del desempeño basado en análisis de competencias e indicadores.</li>
                    <li>Información de los funcionarios.</li>
                </div>
            </div>
            <div class="container-suites" id="modulos">
                <h2>Suites Disponibles</h2>
                <div class="card-container">
                    <div class="card">
                        <img src="{{ qplusSG }}" alt="Sistemas de Gestión">
                        <h3>SISTEMAS DE GESTIÓN</h3>
                        <p>Administración, gestión y mantenimiento de los Sistemas de Gestión de las empresas,
                            evidenciando
                            rápida y fácilmente seguimientos, trazabilidades, análisis y mejoras.</p>
                        <br>
                        <button class="load-content-btn" data-file="M_SistemasGestion.html">Más información</button>
                    </div>
                    <div class="card">
                        <img src="{{ qplusVD }}" alt="Valoración del Desempeño">
                        <h3>VALORACIÓN DEL DESEMPEÑO</h3>
                        <p>Administración y análisis del desarrollo de los colaboradores de la empresa, de una manera
                            eficiente, basado en el análisis de competencias y análisis de rendimiento.
                        </p>
                        <br><br>
                        <button class="load-content-btn" data-file="M_ValoracionDesempeño.html">Más información</button>
                    </div>
                    <div class="card">
                        <img src="{{ qplusTH }}" alt="Gestión de Talento Humano">
                        <h3>GESTIÓN TALENTO HUMANO</h3>
                        <p>Administración de la información personal, laboral, académica, seguridad social de los
                            colaboradores de la empresa, así como la ficha de ingreso, las hojas de vida y diferentes
                            listados automáticos.</p>
                        <button class="load-content-btn" data-file="M_TalentoHumano.html">Más información</button>
                    </div>
                </div>
            </div>
            <div id="content-container">
            </div>
            <div class="container-Caracteristicas" id="caracteristicas">
                <h2>Administramos su sistema ahorrándole tiempo y recursos</h2>
                <div class="caracteristica-general">
                    <div class="text-left">
                        <div class="feature">
                            <i class="fas fa-check-circle"></i> Seguridad al crear, modificar, eliminar y visualizar
                            información.
                        </div>
                        <div class="feature">
                            <i class="fas fa-check-circle"></i> Información en línea para la oportuna toma de
                            decisiones.
                        </div>
                        <div class="feature">
                            <i class="fas fa-check-circle"></i> Flexibilidad en la conexión de bases de datos y
                            aplicaciones
                            externas.
                        </div>
                        <div class="feature">
                            <i class="fas fa-check-circle"></i> Arquitectura 100% web, segura, estable y robusta.
                        </div>
                        <div class="feature">
                            <i class="fas fa-check-circle"></i> Ambiente gráfico amigable en toda su interfaz.
                        </div>
                        <div class="feature">
                            <i class="fas fa-check-circle"></i> Aplicación modular diseñada para una fácil expansión.
                        </div>
                    </div>
                    <div class="img-content">
                        <div class="image-right">
                            <img src="{{ caract1 }}" alt="Características">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-insta" id="instalacion">
                <h2>Tipos de Instalación</h2>
                <div class="card-container-nav">
                    <div class="card-nav">
                        <div class="card-logo">
                            <img src="{{ nube2 }}" alt="Logo">
                            <h3>LA NUBE</h3>
                        </div>
                        <div class="card-content-nav">
                            <p>Software alojado en la nube de QPLUS. Reduce el impacto financiero de su adquisición y
                                brinda
                                seguridad y oportunidad de la información.
                            </p>
                            <p>El servidor de D&M que se
                                encuentra en la nube cuenta con las características necesarias para la instalación de la
                                aplicación y de la base de datos.</p>
                            <p>El servicio QPLUS NUBE se rige bajo las condiciones de uso del software QPLUS NUBE como
                                servicio que se encuentran en la página web de D&M y la política de tratamiento de datos
                                personales de D&M Software Solutions que también se encuentra en la página web de D&Mn
                                (dymsites.co).</p>
                            <p>D&M Software Solutions entregará el producto para el número de usuarios definidos por el
                                cliente. En el evento en que se requieran más usuarios, el usuario administrador tendrá
                                la
                                opción de crearlos sin ningún costo adicional, hasta el límite de usuarios de la
                                licencia.
                            </p>
                        </div>
                    </div>
                    <div class="card-nav">
                        <div class="card-logo">
                            <img src="{{ multiempresa }}" alt="Logo">
                            <h3>MULTIEMPRESA</h3>
                        </div>
                        <div class="card-content-nav">
                            <p>Automatiza y administra diferentes sistemas de gestión de diferentes compañías de un
                                mismo
                                grupo o diferentes sectores de la organización, compartiendo e independizando la
                                información
                                por empresa; se instala una sola licencia y las empresas usuarias acceden al servidor
                                vía
                                internet o intranet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-equipo" id="nosotros">
                <h2>Nosotros</h2>
                <div class="grid-layout">
                    <div class="grid-item image-section-equipo">
                        <img src="{{ equipo1 }}" alt="Características">
                    </div>

                    <div class="grid-item right-section">
                        <div class="logo-section-equipo">
                            <img src="{{ logoDM }}" alt="Logo" class="logo-img-equipo">
                        </div>
                        <div class="text-section-equipo">
                            <p>D&M Software Solutions es una empresa creada en el año 2004 con sede en la ciudad de Cali
                                y
                                es una compañía experta en gestión integral, que ofrece soluciones informáticas con
                                tecnología de punta, seguras, funcionales, rápidas, enfocadas a una excelente
                                experiencia de
                                usuario.</p>
                            <p>D&M Software Solutions está conformado por profesionales de área de informática, calidad,
                                SST,
                                gestión humana, logística, con más de 20 años de experiencia, responsables del diseño,
                                desarrollo, soporte de las aplicaciones, análisis conceptual de las herramientas,
                                consultoría
                                de calidad y gestión humana.</p>
                            <p>Los profesionales que forman parte de este gran equipo, son los encargados del desarrollo
                                de
                                QPLUS, producto que hace parte de la familia D&M Software Solutions.</p>
                            <p>El equipo de D&M pone todo su conocimiento y empeño para brindar productos y servicios
                                que
                                permitan a nuestros clientes apoyar su estrategia, optimizando el tiempo para ser más
                                competitivos, al enfocar sus esfuerzos en mejoras a los procesos sin preocuparse por su
                                operatividad.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="CarouselContainer" id="carousel-clientes">
                <h2>Nuestros Clientes</h2>
                <div class="carouselClientes">
                    <div class="group">
                        <div class="cardCarousel">
                            <img src="{{ logoProtecnica }}" alt="Protecnica">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logoquimicalider }}" alt="Quimica Lider">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logonutresol }}" alt="Nutresol">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logocomfandi3 }}" alt="Comfandi">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logosos }}" alt="SOS">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logogangana }}" alt="Seapto">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logosuchance }}" alt="Suchance">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logoreditos }}" alt="Grupo Reditos">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logoproductecnica }}" alt="Productecnica">
                        </div>
                    </div>
                    <div aria-hidden class="group">
                        <div class="cardCarousel">
                            <img src="{{ logoProtecnica }}" alt="Protecnica">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logoquimicalider }}" alt="Quimica Lider">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logonutresol }}" alt="Nutresol">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logocomfandi3 }}" alt="Comfandi">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logosos }}" alt="SOS">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logogangana }}" alt="Seapto">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logosuchance }}" alt="Suchance">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logoreditos }}" alt="Grupo Reditos">
                        </div>
                        <div class="cardCarousel">
                            <img src="{{ logoproductecnica }}" alt="Productecnica">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="contacto">
                <h2>Contáctenos</h2>
                <p>Si tiene preguntas o desea más información, no dude en contactarnos.</p>
                <div class="contact-table">
                    <table>
                        <tr>
                            <td>
                                <h3>Escríbenos</h3>
                                <div class="formulario">
                                    <form id="contactForm" action="https://formspree.io/f/mvggyelj" method="POST">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" id="nombre" name="nombre" required>

                                        <label for="telefono">Teléfono</label>
                                        <input type="text" id="telefono" name="telefono" required>

                                        <label for="email">E-mail</label>
                                        <input type="email" id="email" name="email" required>

                                        <label for="mensaje">Mensaje</label>
                                        <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

                                        <button type="submit">Enviar</button>

                                        <p id="responseMessage" style="display: none;"></p>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <h3>Contactos</h3>
                                <p class="contacto-p">Conozca cómo QPLUS puede optimizar los procesos en su empresa.
                                    Nuestro
                                    sistema de gestión
                                    está diseñado para adaptarse a sus necesidades, asegurando eficiencia y
                                    productividad.
                                </p>
                                <p>
                                    <i class="fas fa-envelope icon-mail"></i>
                                    <a href="mailto:info@dymsites.co" class="contact-link"></a>
                                </p>
                                <p>
                                    <i class="fab fa-whatsapp icon-whatsapp"></i>
                                    <a>+57 315 2990225</a>
                                </p>
                                <p>Cali - Colombia</p>
                                <div class="image-container">
                                    <img src="{{ contactUs }}" alt="Imagen sobre QPLUS"
                                        style="width: 50%; border-radius: 10px;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Footer John -->

        <!-- Fin Footer -->
        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="{{ LogoQplus }}" alt="Logo Qplus">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h3>LINKS</h3>
                    <P><a href="https://www.dymsites.co" target="_blank" class="footer-link">www.dymsites.co</a></P>
                    <p><a href="./media/Condiciones del uso del software QPLUS NUBE como servicio.pdf" target="_blank"
                            class="footer-link">Condiciones del uso del software <b>QPLUS NUBE</b> como servicio</a></p>
                </div>
                <div class="box">
                    <h3>SÍGUENOS</h3>
                    <div class="red-social">
                        <a href="https://www.facebook.com/dymsoftware" target="_blank" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/d-m-software-solutions-s-a-s/posts/?feedView=all"
                            target="_blank" title="LinkedIn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.instagram.com/qpluscolombia/" target="_blank" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://wa.me/3152990225" target="_blank" title="Contactar por WhatsApp">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2025 <b>D&M Software Solutions SAS</b> - Todos los derechos Reservados.</small>
            </div>
        </footer>
    </div>

