<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
  <aside class="aside-left">
    <div class="card">
      <div class="nav-tabs-custom">
        <button>
          {{ 'PLATAFORMA.MENU' | translate }}
        </button>
      </div>
      <ng-container>
        <app-nav-content [navigationItems]="menuItems | async"></app-nav-content>
      </ng-container>
    </div>
  </aside>
  <div class="form-area">
    <div class="card">
      <div class="card-header card-header-sticky">
        <div class="dt-toolbar d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex align-items-center">
            <h4 class="datatable-title" *ngIf="!modoEdicion">{{ 'PLATAFORMA.COLORSETTING.NEW' | translate }}</h4>
            <h4 class="datatable-title" *ngIf="modoEdicion">{{ 'PLATAFORMA.COLORSETTING.UPDATE' | translate }}</h4>
          </div>
          <div class="d-flex">
            <button type="button" class="btn btn-primary btn-NuevoRegistro" (click)="btnRegresarClick()">
              {{ 'PLATAFORMA.REGRESAR' | translate }}
              <i class="feather icon-arrow-left ms-2"></i>
            </button>
            <button
              *ngIf="!modoEdicion"
              type="button"
              class="btn btn-primary btn-NuevoRegistro"
              (click)="btnGestionarRegistroClick(validationForm)"
            >
              {{ 'PLATAFORMA.SLIDERS.CREATE' | translate }}
              <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
            </button>
            <button
              *ngIf="modoEdicion"
              type="button"
              class="btn btn-primary btn-NuevoRegistro"
              (click)="btnGestionarRegistroClick(validationForm)"
            >
              {{ 'PLATAFORMA.SLIDERS.UPDATE' | translate }}
              <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body form-scroll-wrapper">
        <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">{{ 'PLATAFORMA.COLORS.COLORNAV' | translate }}</label>
                <app-color-selector
                  [initialColor]="FormRegistro.navbarColor ?? ''"
                  [id]="navbarColor"
                  (colorSelected)="OnColorSelectedClick($event)"
                ></app-color-selector>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">{{ 'PLATAFORMA.COLORS.COLORTEXT' | translate }}</label>
                <app-color-selector
                  [initialColor]="FormRegistro.textoColor ?? ''"
                  [id]="textoColor"
                  (colorSelected)="OnColorSelectedClick($event)"
                ></app-color-selector>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">{{ 'PLATAFORMA.COLORS.COLORICONS' | translate }}</label>
                <app-color-selector
                  [initialColor]="FormRegistro.iconosColor ?? ''"
                  [id]="iconosColor"
                  (colorSelected)="OnColorSelectedClick($event)"
                ></app-color-selector>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">{{ 'PLATAFORMA.COLORS.COLORBUTTONHOVER' | translate }}</label>
                <app-color-selector
                  [initialColor]="FormRegistro.buttonsHoverColor ?? ''"
                  [id]="buttonsHoverColor"
                  (colorSelected)="OnColorSelectedClick($event)"
                ></app-color-selector>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">{{ 'PLATAFORMA.SLIDERS.STATUS' | translate }}</label>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input name="option" type="radio" [value]="true" [(ngModel)]="FormRegistro.estadoColor" />
                    <div class="radio-circle"></div>
                    <label class="radio-label">{{ 'PLATAFORMA.ACTIVE' | translate }}</label>
                  </label>

                  <label class="radio-button">
                    <input name="option" type="radio" [value]="false" [(ngModel)]="FormRegistro.estadoColor" />
                    <div class="radio-circle"></div>
                    <label class="radio-label">{{ 'PLATAFORMA.INACTIVE' | translate }}</label>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
