<div class="qplus-widget widget-participacion">
    <div class="panel-header">
        <div class="header-titles">
            <i [class]="data?.icono" *ngIf="data?.icono" class="mr-1"></i>
            {{ data?.titulo || '🏆 PARTICIPACIÓN TERMINALES' }}
            <p class="subtitle">{{ data?.subtitulo || 'Programación de Arribos y Atraques' }}</p>
        </div>

        <div class="header-actions-container">
            <button class="btn-maximizar" (click)="maximizar()" title="Ver en pantalla completa">
                <i class="feather icon-maximize" data-feather="maximize"></i>
            </button>
        </div>
    </div>

    <div class="panel-body donut-body">
        <div class="chart-wrapper">
            <canvas #donutChart></canvas>
        </div>
    </div>
</div>