<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
  <aside class="aside-left">
    <div class="card">
      <div class="nav-tabs-custom">
        <button>
          {{ 'PLATAFORMA.MENU' | translate }}
        </button>
      </div>

      <ng-container>
        <app-nav-content [navigationItems]="menuItems$ | async"></app-nav-content>
      </ng-container>
    </div>
  </aside>

  <div class="form-area">
    <div class="card">
      <div class="card-header card-header-sticky">
        <div class="dt-toolbar d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex align-items-center">
            <h4 class="datatable-title" *ngIf="!modoEdicion">{{ 'CONEXIONES.GESTION.NEW' | translate }}</h4>
            <h4 class="datatable-title" *ngIf="modoEdicion">{{ 'CONEXIONES.GESTION.UPDATE' | translate }} </h4>
          </div>
          <div class="d-flex">
            <button
              *ngIf="!modoEdicion"
              type="button"
              class="btn btn-primary btn-NuevoRegistro btn-animacion"
              (click)="btnGestionarRegistroClick(validationForm)"
            >
              {{ 'CONEXIONES.GESTION.CREATE' | translate }}
              <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
            </button>
            <button
              *ngIf="modoEdicion"
              type="button"
              class="btn btn-primary btn-NuevoRegistro btn-animacion"
              (click)="btnGestionarRegistroClick(validationForm)"
            >
              {{ 'CONEXIONES.GESTION.UPDATE' | translate }}
              <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
            </button>
            <button type="button" class="btn btn-primary btn-NuevoRegistro btn-animacion" (click)="btnRegresarClick()">
              {{ 'PLATAFORMA.REGRESAR' | translate }}
              <i class="feather icon-arrow-left ms-2"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body form-scroll-wrapper">
        <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="suscriptorId">{{ 'CONEXIONES.GESTION.SUSCRIPTOR' | translate }}</label>
                <select
                  class="form-control form-input"
                  style="cursor: pointer"
                  name="codigoSuscriptor"
                  id="codigoSuscriptor"
                  [ngClass]="{ 'is-invalid': !codigoSuscriptor.valid && (codigoSuscriptor.dirty || codigoSuscriptor.touched || isSubmit) }"
                  #codigoSuscriptor="ngModel"
                  required
                  [(ngModel)]="FormRegistro.codigoSuscriptor"
                  (change)="onSuscriptorChangeClick($event)"
                >
                  <option value="" disabled>{{ 'CONEXIONES.GESTION.PLACEHOLDERSUSCRIPTOR' | translate }}</option>
                  <option [value]="suscriptor.codigoSuscriptor" *ngFor="let suscriptor of suscriptores"
                    >{{ suscriptor.nombreSuscriptor }}
                  </option>
                </select>
                <label
                  *ngIf="!codigoSuscriptor.valid && (codigoSuscriptor.dirty || codigoSuscriptor.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDOSUSCRIPTOR' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="codigoPaquete">{{ 'CONEXIONES.GESTION.PAQUETE' | translate }}</label>
                <select
                  class="form-control form-input"
                  style="cursor: pointer"
                  name="codigoPaquete"
                  id="codigoPaquete"
                  [ngClass]="{ 'is-invalid': !codigoPaquete.valid && (codigoPaquete.dirty || codigoPaquete.touched || isSubmit) }"
                  #codigoPaquete="ngModel"
                  required
                  [(ngModel)]="FormRegistro.codigoPaquete"
                  (change)="onPaqueteChangeClick($event)"
                >
                  <option value="" disabled>{{ 'CONEXIONES.GESTION.PLACEHOLDERPAQUETE' | translate }}</option>
                  <option [value]="paquete.codigoPaquete" *ngFor="let paquete of paquetes">{{ paquete.nombrePaquete }}</option>
                </select>
                <label
                  *ngIf="!codigoPaquete.valid && (codigoPaquete.dirty || codigoPaquete.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDOPAQUETE' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="nombreConexion"> {{ 'CONEXIONES.GESTION.NAMECONEXION' | translate }}</label>
                <input
                  class="form-control form-input"
                  id="nombreConexion"
                  name="nombreConexion"
                  type="text"
                  placeholder="{{ 'CONEXIONES.GESTION.PLACEHOLDERNAMECONEXION' | translate }}"
                  [ngClass]="{ 'is-invalid': !nombreConexion.valid && (nombreConexion.dirty || nombreConexion.touched || isSubmit) }"
                  #nombreConexion="ngModel"
                  required
                  [(ngModel)]="FormRegistro.nombreConexion"
                />
                <label
                  *ngIf="!nombreConexion.valid && (nombreConexion.dirty || nombreConexion.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDONAMECONEXION' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">{{ 'CONEXIONES.GESTION.CODE' | translate }}</label>
                <input
                  type="text"
                  class="form-control form-input"
                  name="codigoConexion"
                  placeholder="Código de la Conexión"
                  [ngClass]="{ 'is-invalid': !codigoConexion.valid && (codigoConexion.dirty || codigoConexion.touched || isSubmit) }"
                  #codigoConexion="ngModel"
                  required
                  [(ngModel)]="FormRegistro.codigoConexion"
                  readonly
                />
                <label
                  *ngIf="!codigoConexion.valid && (codigoConexion.dirty || codigoConexion.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.CODEHOLDER' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="nombreServidor"> {{ 'CONEXIONES.GESTION.NAMESERVIDOR' | translate }}</label>
                <input
                  class="form-control form-input"
                  id="nombreServidor"
                  name="nombreServidor"
                  type="text"
                  placeholder="{{ 'CONEXIONES.GESTION.NAMESERVIDORHOLDER' | translate }}"
                  [ngClass]="{ 'is-invalid': !nombreServidor.valid && (nombreServidor.dirty || nombreServidor.touched || isSubmit) }"
                  #nombreServidor="ngModel"
                  required
                  [(ngModel)]="FormRegistro.nombreServidor"
                />
                <label
                  *ngIf="!nombreServidor.valid && (nombreServidor.dirty || nombreServidor.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDONAMESERVIDOR' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="BDNombre"> {{ 'CONEXIONES.GESTION.NAMEBD' | translate }}</label>
                <input
                  class="form-control form-input"
                  id="BDNombre"
                  name="BDNombre"
                  type="text"
                  placeholder="{{ 'CONEXIONES.GESTION.PLACEHOLDERNAMEBD' | translate }}"
                  [ngClass]="{ 'is-invalid': !BDNombre.valid && (BDNombre.dirty || BDNombre.touched || isSubmit) }"
                  #BDNombre="ngModel"
                  required
                  [(ngModel)]="FormRegistro.BDNombre"
                />
                <label
                  *ngIf="!BDNombre.valid && (BDNombre.dirty || BDNombre.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDONAMEBD' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="BDUser"> {{ 'CONEXIONES.GESTION.NAMEUSER' | translate }}</label>
                <input
                  class="form-control form-input"
                  id="BDUser"
                  name="BDUser"
                  type="text"
                  placeholder="{{ 'CONEXIONES.GESTION.PLACEHOLDERNAMEUSER' | translate }}"
                  [ngClass]="{ 'is-invalid': !BDUser.valid && (BDUser.dirty || BDUser.touched || isSubmit) }"
                  #BDUser="ngModel"
                  required
                  [(ngModel)]="FormRegistro.BDUser"
                />
                <label
                  *ngIf="!BDUser.valid && (BDUser.dirty || BDUser.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDONAMEUSER' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="BDPassword"> {{ 'CONEXIONES.GESTION.PASSWORDBD' | translate }}</label>
                <input
                  class="form-control form-input"
                  id="BDPassword"
                  name="BDPassword"
                  type="text"
                  placeholder="{{ 'CONEXIONES.GESTION.PLACEHOLDERPASSWORDBD' | translate }}"
                  [ngClass]="{ 'is-invalid': !BDPassword.valid && (BDPassword.dirty || BDPassword.touched || isSubmit) }"
                  #BDPassword="ngModel"
                  required
                  [(ngModel)]="FormRegistro.BDPassword"
                />
                <label
                  *ngIf="!BDPassword.valid && (BDPassword.dirty || BDPassword.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDOPASSWORDBD' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="BDPort"> {{ 'CONEXIONES.GESTION.BDPORT' | translate }}</label>
                <input
                  class="form-control form-input"
                  id="BDPort"
                  name="BDPort"
                  type="text"
                  placeholder="{{ 'CONEXIONES.GESTION.PLACEHOLDERBDPORT' | translate }}"
                  [ngClass]="{ 'is-invalid': !BDPort.valid && (BDPort.dirty || BDPort.touched || isSubmit) }"
                  #BDPort="ngModel"
                  required
                  [(ngModel)]="FormRegistro.BDPort"
                />
                <label
                  *ngIf="!BDPort.valid && (BDPort.dirty || BDPort.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDOBDPORT' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label"> {{ 'CONEXIONES.GESTION.DESCRIPCION' | translate }}</label>
                <app-text-editor
                  [toolbarType]="tipoEditorTexto"
                  [contentHtml]="FormRegistro.descripcionConexion ?? ''"
                  (contentHtmlChange)="actualizarDescripcionVersion($event)"
                  name="descripcionConexion"
                  [(ngModel)]="FormRegistro.descripcionConexion"
                  [ngClass]="{
                    'is-invalid': !descripcionConexion.valid && (descripcionConexion.dirty || descripcionConexion.touched || isSubmit)
                  }"
                  #descripcionConexion="ngModel"
                  required
                  rows="5"
                >
                </app-text-editor>
                <label
                  *ngIf="!descripcionConexion.valid && (descripcionConexion.dirty || descripcionConexion.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                >
                  {{ 'CONEXIONES.GESTION.REQUERIDODESCRIPCION' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">{{ 'CONEXIONES.GESTION.STATUS' | translate }}</label>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input name="option" type="radio" [value]="true" [(ngModel)]="FormRegistro.estadoConexion" />
                    <div class="radio-circle"></div>
                    <label class="radio-label">{{ 'PLATAFORMA.ACTIVE' | translate }}</label> </label
                  ><br />
                  <label class="radio-button">
                    <input name="option" type="radio" [value]="false" [(ngModel)]="FormRegistro.estadoConexion" />
                    <div class="radio-circle"></div>
                    <label class="radio-label">{{ 'PLATAFORMA.INACTIVE' | translate }}</label>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
