<div class="text-center">
  <br /><br />
  <p
    ><b>{{ 'PLATAFORMA.SOCIAL' | translate }}</b></p
  >
  <button class="btn text-white bg-facebook mb-2 me-2 wid-40 px-0 hei-40 rounded-circle" title="facebook"
    ><i class="fab fa-facebook-f"></i
  ></button>
  <button class="btn text-white bg-googlePlus mb-2 me-2 wid-40 px-0 hei-40 rounded-circle" title="Google"
    ><i class="fab fa-google-plus-g"></i
  ></button>
  <button class="btn text-white bg-twitter mb-2 wid-40 px-0 hei-40 rounded-circle" title="Twitter"><i class="fab fa-twitter"></i></button>
</div>
<br /><br />
<div class="card-footer text-center"> © 2025 D&M Software Solutions SAS. </div>
