<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
  <aside class="aside-left">
    <div class="card">
      <div class="nav-tabs-custom">
        <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
          {{ 'PLATAFORMA.MENU' | translate }}
        </button>
        <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
          {{ 'PLATAFORMA.FILTERS' | translate }}
        </button>
      </div>

      <ng-container *ngIf="activeTab === 'menu'">
        <app-nav-content [navigationItems]="menuItems$ | async"></app-nav-content>
      </ng-container>
      <ng-container *ngIf="activeTab === 'filters'">
        <div class="p-3 filtros-scroll-wrapper">
          <h6 class="filtros-title">{{ 'VERSIONES.FILTROS.TITULO' | translate }}</h6>
          <div class="filtro">
            <small>{{ 'VERSIONES.FILTROS.FILTROCODIGOAPLICACION' | translate }}</small>
            <select (change)="onFiltroCodigoAplicacionChangeClick($event)" class="form-control form-select">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="reg.aplicacionId" *ngFor="let reg of aplicaciones">
                {{ reg.nombreAplicacion }}
              </option>
            </select>
          </div>
          <div class="filtro">
            <small>{{ 'VERSIONES.FILTROS.FILTRONOMBRE' | translate }}</small>
            <select (change)="onFiltroNombreChangeClick($event)" class="form-control form-select">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option [value]="app.nombreVersion" *ngFor="let app of registros">
                {{ app.nombreVersion }}
              </option>
            </select>
          </div>
          <div class="filtro">
            <small>{{ 'VERSIONES.FILTROS.FILTRODECRIPCION' | translate }}</small>
            <input
              type="text"
              (keyup)="onFiltroDescripcionChangeClick($event)"
              class="form-control form-input"
              placeholder="{{ 'VERSIONES.FILTROS.DESCRIPCIONCHOLDER' | translate }}"
            />
          </div>
          <div class="filtro">
            <small>{{ 'VERSIONES.FILTROS.FILTROESTADO' | translate }}</small>
            <select (change)="onFiltroEstadoChangeClick($event)" class="form-control form-select">
              <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
              <option value="true">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
              <option value="false">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>
  </aside>

  <div class="content-area">
    <div class="card card-table content-scroll-wrapper">
      <div class="card-body">
        <app-data-table
          [data]="registrosFiltrado"
          [idField]="'codigoVersion'"
          [tableTitle]="'VERSIONES.TITLE' | translate"
          [metadataColumns]="columnasRegistros"
          [metadataDetailColumns]="columnasDetailRegistros"
          [showDetail]="true"
          [showActions]="true"
          [showNewButton]="true"
          [showViewButton]="false"
          [showEditButton]="true"
          [showDeleteButton]="true"
          [showSearchBox]="false"
          [newButtonLabel]="'VERSIONES.NEW' | translate"
          [exportLabel]="'PLATAFORMA.EXCEL' | translate"
          (newRecord)="OnNuevoRegistroClick()"
          (editRecord)="OnEditarRegistroClick($event)"
          (deleteRecord)="OnEliminarRegistroClick($event)"
        >
        </app-data-table>
      </div>
    </div>
  </div>
</div>
