<app-tc-header titulo="Porttos 1.0" subtitulo="Plataforma de Logistica y Gestión Portuaria" [nodos]="listaDePuertos"
    (nodoCambiado)="cargarDatosDelPuerto($event)" [tableroBloqueado]="tableroBloqueado"
    (toggleBloqueo)="toggleBloqueoTablero()" (abrirCatalogo)="mostrarLobby = true">
</app-tc-header>

<div class="tc-dashboard-container" style="position: relative;">
    <nav class="tc-nav-tabs">
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_MARITIMO_001'"
            (click)="cambiarPestana('TLC_MARITIMO_001')">
            <span class="icon">🛳️</span> Marítimo
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_VIRTUAL_GATE'"
            (click)="cambiarPestana('TLC_VIRTUAL_GATE')">
            <span class="icon">🏗️</span> Virtual Gate
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_CONTENEDORES'"
            (click)="cambiarPestana('TLC_CONTENEDORES')">
            <span class="icon">🚛</span> Contenedores
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_GRANEL'"
            (click)="cambiarPestana('TLC_GRANEL')">
            <span class="icon">📈</span> Granel
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_SUELTA'"
            (click)="cambiarPestana('TLC_SUELTA')">
            <span class="icon">🛡️</span> Suelta - Vehículos
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_BODEGAS'"
            (click)="cambiarPestana('TLC_BODEGAS')">
            <span class="icon">📊</span> Bodegas
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_CAPACIDAD'"
            (click)="cambiarPestana('TLC_CAPACIDAD')">
            <span class="icon">📊</span> Capacidad
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_MAPA_001'"
            (click)="cambiarPestana('TLC_MAPA_001')">
            <span class="icon">🧠</span> Mapa Logístico
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_NOTICIAS'"
            (click)="cambiarPestana('TLC_NOTICIAS')">
            <span class="icon">📊</span> Noticias
        </button>
    </nav>

    <div *ngIf="cargando" class="cargador-flotante">
        <div class="cargador-contenido">
            <div class="spinner-PORTTOS"></div>
            <p class="text-white mt-4">Actualizando Torre de Control...</p>
        </div>
    </div>

    <gridster class="gridster" [options]="options">

        <gridster-item *ngFor="let widget of dashboard; trackBy: trackByWidget" [item]="widget"
            [class.PORTTOS-fantasma]="widget.type === 'WDG_FANTASMA'">
            <app-widget-selector [type]="widget.type" [data]="widget.data">
            </app-widget-selector>
        </gridster-item>

    </gridster>

</div>

<app-widget-lobby [visible]="mostrarLobby" (cerrar)="mostrarLobby = false">
</app-widget-lobby>

<div class="PORTTOS-backdrop-blur" *ngIf="widgetEnfoque" (click)="cerrarModalEnfoque()">
    <div class="PORTTOS-modal-lg" (click)="$event.stopPropagation()">
        <button class="btn-cerrar-modal" (click)="cerrarModalEnfoque()">
            <i class="icon-close"></i> Cerrar Vista Enfoque
        </button>
        <app-widget-selector [type]="widgetEnfoque.type" [data]="widgetEnfoque.data">
        </app-widget-selector>
    </div>
</div>



<!-- <app-tc-header titulo="Porttos 1.0" subtitulo="Plataforma de Logistica y Gestión Portuaria" [nodos]="listaDePuertos"
    (nodoCambiado)="cargarDatosDelPuerto($event)" [tableroBloqueado]="tableroBloqueado"
    (toggleBloqueo)="toggleBloqueoTablero()" (abrirCatalogo)="mostrarLobby = true">
</app-tc-header>

<div class="tc-dashboard-container" style="position: relative;">
    <nav class="tc-nav-tabs">
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_MARITIMO_001'"
            (click)="cambiarPestana('TLC_MARITIMO_001')">
            <span class="icon">🛳️</span> Operación Marítima
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_BODEGAS_001'"
            (click)="cambiarPestana('TLC_BODEGAS_001')">
            <span class="icon">🏗️</span> Gate & Bodegas
        </button>
        <button class="tc-tab-btn" [class.active]="pestanaActiva === 'TLC_MAPA_001'"
            (click)="cambiarPestana('TLC_MAPA_001')">
            <span class="icon">🧠</span> Mapa Logístico
        </button>
    </nav>

    <main class="tab-content">
        @switch (pestanaActiva) {
        @case ('TLC_MARITIMO_001') {
        @defer {
        <app-operacion-maritima [layoutBase]="layoutActivo" [puerto]="puertoSeleccionado" [bloqueado]="tableroBloqueado"
            (layoutCambiado)="sincronizarLayoutHaciaMaestro($event)">
        </app-operacion-maritima>
        } @loading { <div class="spinner-PORTTOS">Cargando Módulo Marítimo...</div> }
        }

        @case ('TLC_MAPA_001') {
        @defer {
        <app-operacion-geografica [layoutBase]="layoutActivo" [puerto]="puertoSeleccionado"
            [bloqueado]="tableroBloqueado" (layoutCambiado)="sincronizarLayoutHaciaMaestro($event)">
        </app-operacion-geografica>
        } @loading { <div class="spinner-PORTTOS">Iniciando Motor Geográfico...</div> }
        }

        @case ('TLC_BODEGAS_001') {
        }
        }
    </main>
</div>

<app-widget-lobby [visible]="mostrarLobby" (cerrar)="mostrarLobby = false"></app-widget-lobby>

<div class="PORTTOS-backdrop-blur" *ngIf="widgetEnfoque" (click)="cerrarModalEnfoque()">
</div> -->