<div class="qplus-widget widget-toneladas">
    <div class="panel-header">
        <div class="header-titles">
            <h3><i class="icon-clock" style="margin-right: 6px;"></i> >{{ data?.titulo || '📊 TONELADAS MOVIDAS HOY' }}
            </h3>
            <p class="subtitle">{{ data?.subtitulo || 'Programación de arribos y atraques' }}</p>
        </div>
        <div class="header-actions-container">
            <button class="btn-maximizar" (click)="maximizar()" title="Ver en pantalla completa">
                <i class="feather icon-maximize" data-feather="maximize"></i>
            </button>
        </div>
    </div>

    <div class="chart-container">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'">
        </canvas>
    </div>
</div>