@mixin btn-outline-color($color) {
    color: $color;
    border: 1px solid $color;
    background-color: transparent;

    &:hover, &:focus {
        background-color: $color;
        color: white;
        box-shadow: 0 4px 8px rgba($color, 0.3);
        transform: translateY(-2px);
    }
}
